:root{
    --radial-bg: radial-gradient(
        50% 50.00% at 50% 50.00%,
        rgba(0, 0, 0, 0.00) 0%,
        rgba(0, 0, 0, 0.20) 100%
        );
    
    --linear-bg:  linear-gradient(
        180deg, rgba(0, 0, 0, 0.20) 0%,
        rgba(255, 255, 255, 0.00) 99.99%,
        rgba(255, 255, 255, 0.00) 100%
        );
}

@mixin background-clip{

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@mixin background-size{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    



        


    &--norway {
        background: var(--radial-bg),

    var(--linear-bg),
    url('./../img/01.jpg');
    @include background-size;
    }


    &--austria{
        background: var(--radial-bg),

        var(--linear-bg),
        url('./../img/02.jpg');
        @include background-size;
    }

    &--uae{
        background: var(--radial-bg),

        var(--linear-bg),
        url('./../img/03.jpg');
        @include background-size;
    }

    &--thailand{
        background: var(--radial-bg),

        var(--linear-bg),
        url('./../img/04.jpg');
        @include background-size;
    }

    &--morocco{
        background: var(--radial-bg),

        var(--linear-bg),
        url('./../img/05.jpg');
        @include background-size;
    }

    &::before{
        content: '';
    }

    cursor: grab;
    &:active{
        cursor: grabbing;
    }


    
	@media(max-width: 1200px){
		padding-bottom: 120px;
	}

	@media(max-width: 767px){
		padding-top: 100px;
        padding-bottom: 40px;
	}


}


.slide__header {
    text-align: center;
    position: relative;
}
.slide__tagline {
    position: absolute;
    width: 100%;
    top: -8px;
    font-weight: 500;
    font-size: 1.56vw;
    line-height: 1.23;
    letter-spacing: 0.55em;
    color: rgba(255,255,255, .7);

    @media (max-width: 767px){
        font-size: 3vw;
    }
}
.slide__title {
    font-size: 13vw;
    line-height: 1.22;
    font-weight: 700;

    @media (max-width: 767px) {
        font-size: 19vw;
    }

    span{
        padding: 0 10px;


        

    }  
    


    &--norway span{
        background: linear-gradient(
            47deg,
            #051D27 -3.87%,
            rgba(255, 255, 255, 0) 20.89%
        ),
        #ffffff;


        @include background-clip;


    }

    &--austria span{
        background: linear-gradient(
            47deg,
            #122127 -3.87%,
            rgba(255, 255, 255, 0) 20.89%
        ),
        #ffffff;


        @include background-clip;


    }

    &--uae span{
        background: linear-gradient(
            47deg,
            #AA6627 -3.87%,
            rgba(255, 255, 255, 0) 20.89%
        ),
        #ffffff;


        @include background-clip;


    }
    &--thailand span{
        background: linear-gradient(
            47deg,
            #2E7C88 -3.87%,
            rgba(255, 255, 255, 0) 20.89%
        ),
        #ffffff;


        @include background-clip;


    }

    &--morocco span{
        background: linear-gradient(
            47deg,
            #757575 -3.87%,
            rgba(255, 255, 255, 0) 20.89%
        ),
        #ffffff;


        @include background-clip;


    }
}
.slide__locations {
    display: flex;
    column-gap: 30px;
    width: 70%;
    margin: 0 auto;

    @media (max-width: 1023px) {
        width: 90%;
    }

    @media (max-width: 767px) {
        flex-direction: column;
        row-gap: 20px;
        margin: 0 auto;
    }
}